*{
    margin: 0;
   padding: 0;
   text-align: center;
}
h1{
    background-color: rgb(3, 3, 73);
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 2 00px;
    width: 200px;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;

}
#your-score,#AI-score{
    font-size: 4rem;
}
.msg-container{

    margin-top: 5rem;
}
#msg{
    margin-top: 5rem;
    background-color: black;
    color: wheat;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius:1rem ;

}